<div class="container" ng-controller="MyController as controller" ng-init="controller.init()">
	<div class="page-header">
		<h1>Crud Pessoas</h1>
	</div>
	<div class="alert alert-info" role="alert" ng-hide="controller.items && controller.items.length > 0">There are no items yet.</div>
	<div class="alert {{ controller.alerta.status }}" role="alert" ng-hide="controller.alerta == null">
	  {{ controller.alerta.msg }} 
	</div>
	<div class="form-group row">
		<div class="col-sm-3">
			<input class="form-control" type="text" ng-model="controller.newItem.codigo" placeholder="Codigo"/>
		</div>
		<div class="col-sm-6">
			<input class="form-control" type="text" ng-model="controller.newItem.nome" placeholder="Nome"/>
		</div>
		<div class="col-sm-3">
			<button ng-click="controller.updateItem()" class="btn btn-primary">Salvar</button>
		</div>
	</div>

	<form class="form-horizontal">

		<div style="position:relative;padding-bottom:25px;"></div>

		<table class="table">
			<thead>
				<tr>
					<th scope="col">Codigo</th>
					<th scope="col">Nome</th>
					<th scope="col" style="width: 100px;text-align: center;">#</th>
				</tr>			
			</thead>
			<tbody>
				<tr ng-repeat="item in controller.items">
					<td>{{ item.codigo }}</td>
					<td>{{ item.nome }}</td>
					<td style="width: 100px;text-align: center;"><button type="button" class="btn btn-danger" ng-click="controller.deleteItem(item)">Excluir</button></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>