<div class="container" ng-controller="MyController as controller" ng-init="controller.init()">
	<div class="page-header">
		<h1>Cadastro de Pessoas</h1>
	</div>
	<div class="alert {{ controller.alerta.status }}" role="alert" ng-hide="controller.alerta == null">
	  {{ controller.alerta.msg }} 
	</div>
	<div class="form-group row">
		<div class="col-sm-2">
			<input class="form-control" type="text" ng-model="controller.newItem.codigo" placeholder="C&oacute;digo" disabled="true"/>
		</div>
		<div class="col-sm-7">
			<input class="form-control" type="text" ng-model="controller.newItem.nome" placeholder="Nome"/>
		</div>
		<div class="col-sm-3">
			<button ng-click="controller.updateItem()" class="btn btn-primary">Salvar</button>
		</div>
	</div>

	<form class="form-horizontal">

		<div style="position:relative;padding-bottom:25px;"></div>

		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col" style="width:15%;">C&oacute;digo</th>
					<th scope="col">Nome</th>
					<th scope="col" align="center" style="width: 200px;"></th>
				</tr>			
			</thead>
			<tbody>
				<tr ng-hide="controller.items && controller.items.length > 0">
					<td colspan="3" align="center">N&atilde;o existem registros</td>
				</tr>
				<tr ng-repeat="item in controller.items">
					<td>{{ item.codigo }}</td>
					<td>{{ item.nome }}</td>
					<td align="center" style="width: 200px;">
						<button type="button" class="btn btn-warning btn-sm" ng-click="controller.carregarItem(item)">Editar</button>
						<button type="button" class="btn btn-danger btn-sm" ng-click="controller.deleteItem(item)">Excluir</button>
					</td>
				</tr>
			</tbody>
		</table>
		<hr/>
	</form>
</div>